{% extends "index.html" %}
{% block content %}
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <div class="container">
        <div class="box">
            <h2>Tekst źródłowy</h2>
            <form method="POST">
                <textarea name="text" placeholder="Wpisz tekst">{{ request.form.get('text', '') }}</textarea>
                <select name="target_lang">
                    {% for lang in supported_languages %}
                        <option value="{{ lang }}" {% if lang == target_lang %}selected{% endif %}>{{ lang.upper() }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Przetłumacz</button>
            </form>
        </div>
        <div class="box">
            <h2>Przetłumaczony tekst</h2>
            {% if translated_text %}
                <p>Język źródłowy: {{ source_lang.upper() }}</p>
                <p id="translated-text">{{ translated_text }}</p>
                <form method="POST" action="/save_translation">
                    <input type="hidden" name="source_text" value="{{ request.form['text'] }}">
                    <input type="hidden" name="translated_text" value="{{ translated_text }}">
                    <button type="submit" name="action" value="save">Zapisz</button>
                </form>
            {% else %}
                <p>Tutaj pojawi się przetłumaczony tekst.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
